@import "tailwindcss";
@theme {
  --color-primary: #4f46e5;
  --color-dark-bg: #0f172a;
}

/* Kích hoạt Dark Mode variant cho v4 */
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}
